MAX_TOKEN=f9LHodD0cOJZZJPtNPqF4KD7SePFhtAP4RgZEBwj3eSyPvKh8zQXazxmAf-ljwLF5QJkAgR8fX_OqKEtQCHs
NGROK_AUTH_TOKEN=3DLBAgqheVHWasrUIksk2Qr7BYa_5mjSHK3nBQHjDKA5UVipt
AUDIO_DIR=audio/audio_files
EDGE_VOICE=ru-RU-DmitryNeural
MAX_BOT_URL=https://max.ru/mfcmyasn_inf_bot
MAX_TOTAL_CHARS=4000
CHUNK_MAX=300
BOT_ID=102470277
